<div class="row row-cols-1 row-cols-md-6 g-1">
  <% @movies.each do |movie| %>
    <div class="col">
      <div class="card h-100">
        <%= image_tag 'lightblue.png', class: 'card-img-top' %>
        <div class="card-body">
          <p>-rating-</p>
          <h6 class="card-title"><%= movie.name %></h6>
          <button class="btn btn-primary">+ Watchlist</button>
          <button class="btn btn-primary">Title</button>
        </div>
      </div>
    </div>
  <% end %>


</div>