<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div class='container'>
			<main>
				<%= render partial: 'shared/cards' %>
			</main>
			<footer>
				
			</footer>
		</div>
	</body>
</html>
