<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div class='container'>
			<main>
				<% if current_user %>
					<p>you are a <%= current_user.role %></p>
				<% end %>
			</main>
			<footer>
				
			</footer>
		</div>
	</body>
</html>
